body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('background.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/lettersnew.ttf') format('truetype');
}

.overlay {
  font-family: 'MyCustomFont', sans-serif;
  background: rgba(0, 0, 0, 0.6);
  padding: 12em;
  border-radius: 1px;
  text-align: center;
  transition: opacity 1s ease;
  opacity: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}